<div class="mt-4">

  <form action='/users/{{data._id}}?_method=PUT' method="POST" class="row g-3 needs-validation" novalidate>

    <div class="col-md-4 ">

      <label for="validationCustom01" class="form-label">Họ Tên</label>

      <input type="text" class="form-control" id="validationCustom01" name="name" value="{{data.name}}" required>

      <div class="valid-feedback">

        tốt lắm !

      </div>

      <div class="invalid-feedback">

        vui lòng nhập trường này !

      </div>

    </div>

    <div class="col-md-4">

      <label for="validationCustom02" class="form-label">Tuổi</label>

      <input type="text" class="form-control" id="validationCustom02" name="age" value="{{data.age}}" required>

      <div class="valid-feedback">

        tốt lắm !

      </div>

      <div class="invalid-feedback">

        vui lòng nhập trường này !

      </div>

    </div>

    <div class="col-md-4">

      <label for="validationCustom02" class="form-label">Địa chỉ</label>

      <input type="text" class="form-control" id="validationCustom02" name="address" value="{{data.address}}" required>

      <div class="valid-feedback">

        tốt lắm !

      </div>

      <div class="invalid-feedback">

        vui lòng nhập trường này !

      </div>

    </div>

    <div class="col-md-4">

      <label for="validationCustom02" class="form-label">Username</label>

      <input type="text" class="form-control" id="validationCustom02" name="slug" value="{{data.slug}}" required>

      <div class="valid-feedback">

        tốt lắm !

      </div>

      <div class="invalid-feedback">

        vui lòng nhập trường này !

      </div>

    </div>

    <div class="col-md-4">

      <label for="validationCustom02" class="form-label">ID Facebook</label>

      <input type="text" class="form-control" id="validationCustom02" name="facebook" value="{{data.facebook}}" required>

      <div class="valid-feedback">

        tốt lắm !

      </div>

      <div class="invalid-feedback">

        vui lòng nhập trường này !

      </div>

    </div>
    <div class="col-md-4">

       <a href="https://findidfb.com" target="_blank" class="btn link-primary">Lấy ID FB

       </a>

    </div>

    <div class="col-12">

      <button class="btn btn-primary" type="submit">Thay đổi</button>

    </div>

  </form>

</div>






<script>
   (function() {
  'use strict'

  var forms = document.querySelectorAll('.needs-validation')

  Array.prototype.slice.call(forms)
    .forEach(function(form) {
      form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
