
  <h2>Tên: <h1>{{data.name}}</h1></h2>
  <h2>Id: <h1>{{data._id}}</h1></h2>
  <h2>Age: <h1>{{data.age}}</h1></h2>
  <h2>Address: <h1>{{data.address}}</h1></h2>
  <h2>Slug: <h1>{{data.slug}}</h1></h2>

