<div class='mt-4 col-12' style='word-wrap:break-word'>
  <h2>Tên: <h1>{{user.name}}</h1></h2>
  <h2>Id: <h1>{{user._id}}</h1></h2>
  <h2>Age: <h1>{{user.age}}</h1></h2>
  <h2>Address: <h1>{{user.address}}</h1></h2>
  <h2>Slug: <h1>{{user.slug}}</h1></h2>
</div>
<script>alert('Đây là thông tin về {{user.name}} !')</script>
